{% extends "app/base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'go_index' %}">首页</a></li>
            <li>欢迎</li>
            <!--<li><a href="#">阿里</a></li>-->
            <!--<li><a href="#">林芝</a></li>-->
        </ul>
    </div>
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h1>欢迎使用签到系统！</h1>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- morris.js -->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}