{% extends "app/base_site.html" %}
{% block javascripts %}
<!-- jQuery -->
<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/static/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/static/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/static/vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/static/vendors/moment/min/moment.min.js"></script>
<script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="/static/vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="/static/vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="/static/vendors/starrr/dist/starrr.js"></script>
<script src="/static/vendors/jstree/dist/jstree.min.js"></script>
<script src="/static/build/js/show_dep.js"></script>
{% endblock %}
{% block content %}
  <div class="right_col" role="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'go_index' %}">首页</a></li>
            <li><a href="#">课程管理</a></li>
            <li>课程安排</li>
            <!--<li><a href="#">阿里</a></li>-->
            <!--<li><a href="#">林芝</a></li>-->
        </ul>
      </div>
      <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>课程安排</h3>
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">


        </div>
      </div>


    </div>
  </div>
{% endblock content %}
